@use '../../styles/vars.scss';

.menu {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: vars.$menu-z-index;
    transition: vars.$transition-fast;

    .content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        transition: vars.$transition-fast;


        .logotype {
            height: 40px;
            flex: 1;
            width: auto;
            img {
                height: 100%;
                width: auto;
            }
        }

        .menu-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            transition: vars.$transition-fast;

            .menu-item {
                font-size: 13.5493874628376px;
                font-weight: 300;
                color: vars.$color-black;
                white-space: nowrap;
            }

            .menu-item-1 {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 10px;

                .plus-icon {
                    position: relative;
                    width: 12.5px;
                    aspect-ratio: 1/1;

                    svg {
                        line {
                            stroke-width: 2px;
                        }
                    }
                }
            }

            .menu-item-1:hover {
                a::after {
                    width: 0%;
                }
            
                div::after {
                    width: 0%;
                }
            }
        }
    }

    &.closed {
        
        .content-wrapper {
            gap: 0px;    

            .menu-items {
                opacity: 0;
                width: 0px;
                padding: 0px;

                .menu-item {
                    opacity: 0;
                    padding: 0px;
                }
            }
        }
    }
}